:root {
    --color-black: #000;
    --color-white: #fff;
    --color-blue: #6D8FFF;

    --max-width: 1200px;
    --container-padding: 0 15px;
    --font-mulish: 'Mulish', sans-serif;
    --font-quattrocento: 'Quattrocento Sans', sans-serif;
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;

    --background-contain: contain;

    --border-radius-sm: 16px;
    --border-radius-md: 24px;
    --border-radius-lg: 40px;
    --border-radius-full: 50%;

    --main-font-weight: 300;
    --main-font-size: 16px;
    --main-line-height: 20px;

    --font-size-18: 18px;

    --bg-light-beige: #FEFDF8;
    --width-100: 100%;
    --margin-auto: auto;

    --font-size-60: 60px;
    --font-size-50: 50px;
    --font-size-44: 44px;
    --font-size-32: 32px;
    --font-size-28: 28px;
    --font-size-20: 20px;

    --font-weight-700: 700;
    --font-weight-600: 600;
    --font-weight-500: 500;
    --font-weight-400: 400;
    --font-weight-300: 300;

    --line-height-66: 66px;
    --line-height-55: 55px;
    --line-height-50: 50px;
    --line-height-31: 31px;
    --line-height-23: 23px;

    --flex: flex;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    background-color: #C7C4C4;
    color: var(--color-black);
    font-family: var(--font-mulish);
    font-size: var(--main-font-size);
    font-weight: var(--main-font-weight);
    line-height: var(--main-line-height);
    /* color: rgb(var(--foreground-rgb)); */
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    margin-bottom: 18px;
}

h1 {
    font-size: var(--font-size-60);
    font-weight: var(--font-weight-400);
    line-height: var(--line-height-66);
}

h2 {
    font-size: var(--font-size-50);
    font-weight: var(--font-weight-400);
    line-height: var(--line-height-55);
}

h3 {
    font-size: var(--font-size-44);
    font-weight: var(--font-weight-400);
    line-height: var(--line-height-50);
    margin-bottom: 24px;
}

h4 {
    
}

h5 {
    font-family: var(--font-quattrocento);
    font-size: var(--font-size-28);
    font-weight: var(--font-weight-700);
    line-height: var(--line-height-31)
}

header {
    padding: 40px 0;
}

i[class^='icon-'] {
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
}

.icon-phone {
    background-image: url(../public/icons/phone.svg);
}

.icon-drive {
    background-image: url(../public/icons/folder-arrow.svg);
}

.icon-users {
    background-image: url(../public/icons/users.svg);
}

.icon-newsletter {
    background-image: url(../public/icons/email-newsletter.svg);
}

.icon-cellphone {
    background-image: url(../public/icons/cellphone.svg);
}

.icon-back {
    background-image: url(../public/icons/back.svg);
    height: 7px;
    width: 35px;
}

.icon-next {
    background-image: url(../public/icons/menu-next.svg);
    background-size: var(--background-contain);
    margin-left: auto;
    height: 45px;
    width: 62px;
}

.icon-about {
    background-image: url(../public/icons/profile.svg);
    background-size: var(--background-contain);
    height: 50px;
    width: 45px
}

.icon-tech {
    background-image: url(../public/icons/tech.svg);
    background-size: var(--background-contain);
    height: 50px;
    width: 43px;
}

.icon-features {
    background-image: url(../public/icons/features.svg);
    background-size: var(--background-contain);
    height: 53px;
    width: 50px;
}

.icon-timeline {
    background-image: url(../public/icons/timeline.svg);
    background-size: var(--background-contain);
    height: 50px;
    width: 13px;
}

.icon-investors {
    background-image: url(../public/icons/investors.svg);
    background-size: var(--background-contain);
    height: 50px;
    width: 53px;
}

.icon-blog {
    background-image: url(../public/icons/blog.svg);
    background-size: var(--background-contain);
    height: 50px;
    width: 48px;
}

.icon-lock {
    background-image: url(../public/icons/lock.svg);
    background-size: var(--background-contain);
    height: 50px;
    width: 42px;
}

.icon-network {
    background-image: url(../public/icons/network.svg);
    background-size: var(--background-contain);
    height: 50px;
    width: 40px;
}

.icon-map {
    background-image: url(../public/icons/map.svg);
    background-size: var(--background-contain);
    height: 40px;
    width: 50px;
}

.icon-search {
    background-image: url(../public/icons/search.svg);
    background-size: var(--background-contain);
    height: 50px;
    width: 50px;
}

.icon-chat {
    background-image: url(../public/icons/chat.svg);
    background-size: var(--background-contain);
    height: 50px;
    width: 52px;
}

.icon-documents {
    background-image: url(../public/icons/documents.svg);
    background-size: var(--background-contain);
    height: 50px;
    width: 46px;
}

.icon-images {
    background-image: url(../public/icons/images.svg);
    background-size: var(--background-contain);
    height: 46px;
    width: 52px;
}

.icon-calendar {
    background-image: url(../public/icons/calendar.svg);
    background-size: var(--background-contain);
    height: 50px;
    width: 46px;
}

.icon-pocket {
    background-image: url(../public/icons/pocket.svg);
    background-size: var(--background-contain);
    height: 50px;
    width: 53px;
}

.icon-cloud {
    background-image: url(../public/icons/cloud.svg);
    background-size: var(--background-contain);
    height: 42px;
    width: 55px;
}

.icon-chart {
    background-image: url(../public/icons/chart.svg);
    background-size: var(--background-contain);
    height: 46px;
    width: 53px;
}

#__next {
    background: url(../public/aaron-burden.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* padding: 6rem; */
  /* min-height: 100vh; */
}

.container {
    max-width: var(--max-width);
    margin: var(--margin-auto);
    padding: var(--container-padding);
    width: var(--width-100);
}

.button-back {
    padding: 15px 0;
    position: absolute;
    left: -60px;
}

.page-content {
    background-color: var(--bg-light-beige);
    border-radius: var(--border-radius-lg);
    margin-bottom: 40px;
}

.page-inner {
    padding: 60px 100px;
}

.page-intro {
    display: flex;
    gap: 60px;
}

.page-intro > div {
    width: 50%;
}

.page-heading {
    align-items: center;
    display: flex;
    position: relative;
    margin-bottom: 35px;
}

.page-icon {
    align-items: center;
    background-color: var(--color-white);
    box-shadow: 8px 24px 64px 8px rgba(179, 167, 138, 0.2);
    border-radius: var(--border-radius-sm);
    display: flex;
    justify-content: center;
    margin-right: 25px;
    height: 60px;
    width: 60px;
}

.page-icon i {
    height: 30px;
}