:root {
    --color-black: #000;
    --color-white: #fff;

    --max-width: 1200px;
    --container-padding: 0 20px;
    --font-mulish: 'Mulish', sans-serif;
    --font-quattrocento: 'Quattrocento Sans', sans-serif;
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;

    --border-radius-sm: 16px;
    --border-radius-md: 24px;
    --border-radius-lg: 40px;
    --border-radius-full: 50%;

    --main-font-weight: 300;
    --main-font-size: 16px;
    --main-line-height: 20px;

    --font-size-18: 18px;

    --bg-light-beige: #FEFDF8;
    --width-100: 100%;
    --margin-auto: auto;

    --font-size-60: 60px;
    --font-size-50: 50px;
    --font-size-46: 46px;
    --font-size-32: 32px;
    --font-size-28: 28px;
    --font-size-20: 20px;

    --font-weight-700: 700;
    --font-weight-600: 600;
    --font-weight-500: 500;
    --font-weight-400: 400;
    --font-weight-300: 300;

    --line-height-66: 66px;
    --line-height-50: 50px;
    --line-height-31: 31px;
    --line-height-23: 23px;

    --flex: flex;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    background-color: #C7C4C4;
    color: var(--color-black);
    font-family: var(--font-mulish);
    font-size: var(--main-font-size);
    font-weight: var(--main-font-weight);
    line-height: var(--main-line-height);
    /* color: rgb(var(--foreground-rgb)); */
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: var(--font-size-60);
    font-weight: var(--font-weight-400);
    line-height: var(--line-height-66);
}

h2 {
    
}

h3 {
    
}

h4 {
    
}

h5 {
    font-family: var(--font-quattrocento);
    font-size: var(--font-size-28);
    font-weight: var(--font-weight-700);
    line-height: var(--line-height-31)
}

header {
    padding: 40px 0;
}

i[class^='icon-'] {
    background-position: center;
    background-repeat: no-repeat;
}

.icon-phone {
    background-image: url(../public/icons/phone.svg);
}

.icon-drive {
    background-image: url(../public/icons/folder-arrow.svg);
}

.icon-users {
    background-image: url(../public/icons/users.svg);
}

.icon-newsletter {
    background-image: url(../public/icons/email-newsletter.svg);
}

.icon-cellphone {
    background-image: url(../public/icons/cellphone.svg);
}

#__next {
    background: url(../public/aaron-burden.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: var(--max-width);
    margin: var(--margin-auto);
    padding: var(--container-padding);
    width: var(--width-100);
}

.page-content {
    background-color: var(--bg-light-beige);
    border-radius: var(--border-radius-lg);
    margin-bottom: 40px;
}