/* Reset */
:root {
    --color-black: #000;
    --color-white: #fff;
    --color-blue: #6D8FFF;
    --color-green: #92D5BD;

    --max-width: 1200px;
    --container-padding: 0 15px;
    --font-mulish: 'Mulish', sans-serif;
    --font-quattrocento: 'Quattrocento Sans', sans-serif;
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;

    --background-contain: contain;

    --border-radius-sm: 16px;
    --border-radius-md: 24px;
    --border-radius-lg: 40px;
    --border-radius-full: 50%;

    --main-font-weight: 300;
    --main-font-size: 16px;
    --main-line-height: 20px;

    --font-size-18: 18px;

    --bg-light-beige: #FEFDF8;
    --width-100: 100%;
    --margin-auto: auto;

    --font-size-60: 60px;
    --font-size-50: 50px;
    --font-size-44: 44px;
    --font-size-32: 32px;
    --font-size-28: 28px;
    --font-size-20: 20px;

    --font-weight-700: 700;
    --font-weight-600: 600;
    --font-weight-500: 500;
    --font-weight-400: 400;
    --font-weight-300: 300;

    --line-height-66: 66px;
    --line-height-55: 55px;
    --line-height-50: 50px;
    --line-height-31: 31px;
    --line-height-23: 23px;

    --flex: flex;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    background-color: #C7C4C4;
    color: var(--color-black);
    font-family: var(--font-mulish);
    font-size: var(--main-font-size);
    font-weight: var(--main-font-weight);
    line-height: var(--main-line-height);
    /* color: rgb(var(--foreground-rgb)); */
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    margin-bottom: 18px;
    line-height: var(--line-height-23);
}

h1 {
    font-size: var(--font-size-60);
    font-weight: var(--font-weight-400);
    line-height: var(--line-height-66);
}

h2 {
    font-size: var(--font-size-50);
    font-weight: var(--font-weight-400);
    line-height: var(--line-height-55);
}

h3 {
    font-size: var(--font-size-44);
    font-weight: var(--font-weight-400);
    line-height: var(--line-height-50);
    margin-bottom: 24px;
}

h4 {
    font-size: var(--font-size-32);
    font-weight: var(--font-weight-700);
    line-height: var(--line-height-35);
    margin-bottom: 16px;
}

h5 {
    font-family: var(--font-quattrocento);
    font-size: var(--font-size-28);
    font-weight: var(--font-weight-700);
    line-height: var(--line-height-31)
}

header {
    padding: 40px 0;
}

body .pt-0 {
    padding-top: 0;
}

body .pb-0 {
    padding-bottom: 0;
}

input:not([type="radio"]),
input:not([type="checkbox"]),
select,
textarea {
    background-color: var(--bg-light-beige);
    border: 1px solid #E9EBDF;
    border-radius: 10px;
    color: #747570;
    padding: 12px;
    font-family: var(--font-mulish);
    font-weight: var(--font-weight-300);
    font-size: 14px;
    line-height: 18px;
    width: 100%;
}

input:not([type="radio"]):not([type="checkbox"]):focus,
select:focus,
textarea:focus {
    outline: none;
}

textarea {
    min-height: 110px;
    resize: vertical;
}

/* Global Icons */
i[class^='icon-'] {
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: var(--background-contain);
}

.icon-back {
    background-image: url(../public/icons/back.svg);
    height: 7px;
    width: 35px;
}

.icon-next {
    background-image: url(../public/icons/menu-next.svg);
    margin-left: auto;
    height: 45px;
    width: 62px;
}

.icon-about {
    background-image: url(../public/icons/profile.svg);
    height: 50px;
    width: 45px
}

.icon-tech {
    background-image: url(../public/icons/tech.svg);
    height: 50px;
    width: 43px;
}

.icon-features {
    background-image: url(../public/icons/features.svg);
    height: 53px;
    width: 50px;
}

.icon-timeline {
    background-image: url(../public/icons/timeline.svg);
    background-size: var(--background-contain);
    height: 50px;
    width: 13px;
}

.icon-investors {
    background-image: url(../public/icons/investors.svg);
    height: 50px;
    width: 53px;
}

.icon-blog {
    background-image: url(../public/icons/blog.svg);
    height: 50px;
    width: 48px;
}

.icon-lock {
    background-image: url(../public/icons/lock.svg);
    height: 50px;
    width: 42px;
}

.icon-network {
    background-image: url(../public/icons/network.svg);
    height: 50px;
    width: 40px;
}

.icon-map {
    background-image: url(../public/icons/map.svg);
    height: 40px;
    width: 50px;
}

.icon-search {
    background-image: url(../public/icons/search.svg);
    height: 50px;
    width: 50px;
}

.icon-chat {
    background-image: url(../public/icons/chat.svg);
    height: 50px;
    width: 52px;
}

.icon-documents {
    background-image: url(../public/icons/documents.svg);
    height: 50px;
    width: 46px;
}

.icon-images {
    background-image: url(../public/icons/images.svg);
    height: 46px;
    width: 52px;
}

.icon-calendar {
    background-image: url(../public/icons/calendar.svg);
    height: 50px;
    width: 46px;
}

.icon-pocket {
    background-image: url(../public/icons/pocket.svg);
    height: 50px;
    width: 53px;
}

.icon-cloud {
    background-image: url(../public/icons/cloud.svg);
    height: 42px;
    width: 55px;
}

.icon-chart {
    background-image: url(../public/icons/chart.svg);
    height: 46px;
    width: 53px;
}

.icon-thin-right {
    background-image: url(../public/icons/arrow-thin-right.svg);
    height: 9px;
    width: 16px;
}

.icon-twitter {
    background-image: url(../public/icons/social-twitter.svg);
    height: 46px;
    width: 52px;
}

.icon-instagram {
    background-image: url(../public/icons/social-instagram.svg);
    height: 50px;
    width: 50px;
}

.icon-linkedin {
    background-image: url(../public/icons/social-linkedin.svg);
    height: 50px;
    width: 50px;
}

/* Footer Menu Icons */
.icon-phone:after,
.icon-phone:before {
    height: 16px;
    width: 16px;
}

.icon-phone:before {
    background-image: url(../public/icons/phone.svg);
}

.icon-phone:after {
    background-image: url(../public/icons/phone-colored.svg);
}

.icon-drive:before,
.icon-drive:after {
    height: 18px;
    width: 20px;
}

.icon-drive:before {
    background-image: url(../public/icons/drive.svg);
}

.icon-drive:after {
    background-image: url(../public/icons/drive-colored.svg);
}

.icon-users:before,
.icon-users:after {
    height: 16px;
    width: 20px;
}

.icon-users:before {
    background-image: url(../public/icons/users.svg);
}

.icon-users:after {
    background-image: url(../public/icons/users-colored.svg);
}

.icon-newsletter:before,
.icon-newsletter:after {
    height: 18px;
    width: 20px;
}

.icon-newsletter:before {
    background-image: url(../public/icons/newsletter.svg);
}

.icon-newsletter:after {
    background-image: url(../public/icons/newsletter-colored.svg);
}

.icon-cellphone:before,
.icon-cellphone:after {
    height: 22px;
    width: 14px;
}

.icon-cellphone:before {
    background-image: url(../public/icons/cellphone.svg);
}

.icon-cellphone:after {
    background-image: url(../public/icons/cellphone-colored.svg);
}

.icon-phone-colored {
    background-image: url(../public/icons/phone-colored.svg);
    height: 21px;
    width: 21px;
}

.icon-drive-colored {
    background-image: url(../public/icons/drive-colored.svg);
    height: 23px;
    width: 27px;
}

.icon-users-colored {
    background-image: url(../public/icons/users-colored.svg);
    height: 19px;
    width: 25px;
}

.icon-newsletter-colored {
    background-image: url(../public/icons/newsletter-colored.svg);
    height: 25px;
    width: 25px;
}

.icon-cellphone-colored {
    background-image: url(../public/icons/cellphone-colored.svg);
    height: 28px;
    width: 18px;
}

.icon-right {
    background-image: url(../public/icons/arrow-right.svg);
    height: 12px;
    width: 12px;
}

/* Buttons Styles */
button:hover {
    cursor: pointer;
}

button[type="submit"] {
    margin-top: 20px;
}

.btn {
    border-radius: 20px;
    border-width: 0;
    font-family: var(--font-mulish);
    font-weight: var(--font-weight-300);
    font-size: 18px;
    line-height: 23px;
    padding: 10px;
    min-width: 170px;
}

.btn-green {
    background-color: var(--color-green);
}

.btn-green i {
    transition: all .3s ease-in-out;
    margin-left: 12px;
    right: 0px;
    position: relative;
    vertical-align: 1px;
}

.btn-green:hover i {
    right: -5px;
}

#bg-wrapper {
    background: url(../public/aaron-burden.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    bottom: 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
}

#__next {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container {
    max-width: var(--max-width);
    margin: var(--margin-auto);
    padding: var(--container-padding);
    width: var(--width-100);
}

.row-col-2 {
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.row-col-2 .col {
    width: 50%;
}

.button-back {
    padding: 15px 0;
    position: absolute;
    left: -60px;
}

.page-content {
    background-color: var(--bg-light-beige);
    border-radius: var(--border-radius-lg);
    margin-bottom: 40px;
}

.page-inner {
    padding: 60px 100px;
}

.page-intro {
    display: flex;
    gap: 60px;
}

.page-intro > div {
    width: 50%;
}

.page-heading {
    align-items: center;
    display: flex;
    position: relative;
    margin-bottom: 35px;
}

.page-icon {
    align-items: center;
    background-color: var(--color-white);
    box-shadow: 8px 24px 64px 8px rgba(179, 167, 138, 0.2);
    border-radius: var(--border-radius-sm);
    display: flex;
    justify-content: center;
    margin-right: 25px;
    height: 60px;
    width: 60px;
}

.page-icon i {
    height: 30px;
}

.form-row {
    position: relative;
    margin-bottom: 12px;
    width: 100%;
}