.Content {
    align-items: center;
    display: var(--flex);
    justify-content: space-between;
}

.Home {
    align-items: center;
    border-radius: 100%;
    backdrop-filter: blur(50px);
    display: none;
    justify-content: center;
    height: 50px;
    width: 50px;
    -webkit-box-shadow: 0px 0px 0px 1px rgba(255,255,255,0.5);
    -moz-box-shadow: 0px 0px 0px 1px rgba(255,255,255,0.5);
    box-shadow: 0px 0px 0px 1px rgba(255,255,255,0.5);
}

.Note {
    border-radius: var(--border-radius-sm);
    backdrop-filter: blur(50px);
    color: var(--color-white);
    padding: 11px 14px;
    min-width: 110px;
    width: fit-content;
    -webkit-box-shadow: 0px 0px 0px 1px rgba(255,255,255,0.2);
    -moz-box-shadow: 0px 0px 0px 1px rgba(255,255,255,0.2);
    box-shadow: 0px 0px 0px 1px rgba(255,255,255,0.2);
}

.Note h5,
.Note p {
    margin-bottom: 2px;
}

.Note p {
    font-size: var(--font-size-10);
    line-height: var(--line-height-13);
}

@media screen and (min-width: 768px) {
    .Note {
        padding: 15px 18px;
        min-width: 200px;
    }

    .Note p {
        font-size: var(--font-size-14);
        line-height: var(--line-height-16);
    }

    .Note h5,
    .Note p {
        margin-bottom: 4px;
    }
}

@media screen and (max-width: 767px) {
    .Home {
        display: flex;
    }    
}
