.MainBox {
    background-blend-mode: overlay;
    -webkit-box-shadow: 0px 0px 0px 1px rgba(255,255,255,0.2);
    -moz-box-shadow: 0px 0px 0px 1px rgba(255,255,255,0.2);
    box-shadow: 0px 0px 0px 1px rgba(255,255,255,0.2);
    backdrop-filter: blur(50px);
    border-radius: var(--border-radius-lg);
    text-align: center;
    max-width: 770px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px auto;
    padding: 60px 0 50px;
    width: 100%;
}

.MainBox h1 {
    color: var(--color-white);
    max-width: 630px;
    margin-bottom: 32px;
    padding: 0 30px;
    margin-bottom: 32px;
}

.MainBox a {
    color: var(--color-white);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-600);
    line-height: var(--line-height-20);
    text-decoration: underline;
}

.LogoIntro {
    color: transparent;
    margin-right: auto;
    margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .MainBox {
        padding: 75px 0 115px;
    }

    .MainBox a {
        font-size: var(--font-size-20);
        line-height: var(--line-height-25);
    }

    .LogoIntro {
        margin-bottom: 30px;
    }
}