.MainMenu {
    padding: 6px 20px;
}

.MenuLink {
    display: flex;
    flex-wrap: wrap;
    padding: 12px 0;
}

.MenuLink .icon-next {
    margin-left: auto;
}

.MenuLink:not(:last-child) {
    border-bottom: 0.5px solid rgba(0,0,0, .5);
}

.MenuLinkIcon {
    align-items: center;
    background: #FFFFFF;
    box-shadow: 8px 24px 64px 8px rgba(179, 167, 138, 0.2);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    transform: rotate(0.12deg);
    height: 40px;
    width: 40px;
}

.MenuLinkIcon i {
    height: 20px;
}

.MenuLinkText {
    padding: 0 25px 0 12px;
    width: 78%;
}

.MenuLinkText h1 {
    margin-bottom: 4px;
}

.MenuLinkText div {
    display: flex;
}

.MenuLinkText div strong,
.MenuLinkText div span {
}

.icon-next {
    margin-left: auto;
}

@media screen and (min-width: 768px) {
    .MainMenu {
        padding: 18px 0;
    }

    .MenuLink {
        padding: 22px 40px;
    }

    .MenuLinkText {
        padding: 0 60px 0 25px;
        width: 56%;
    }

    .MenuLinkText h1 {
        margin-bottom: 15px;
    }

    .MenuLinkIcon {
        border-radius: 28px;
        height: 100px;
        width: 100px;
    }

    .MenuLinkIcon i {
        height: 50px;
    }
}

@media screen and (max-width: 767px) {
    .MainMenu a:not(.MenuLink):first-child {
        margin-top: 14px;
        margin-left: 0;
    }

    .MenuLinkText div strong {
        font-size: 12px;
        line-height: 15px;
    }

    .MenuLinkText div span {
        font-size: 10px;
        line-height: 13px;
    }

    .MenuLink { 
        margin: 0 -12px
    }
}

@media screen and (min-width: 992px) {
    .MenuLink img {
        object-fit: cover;
        height: 120px;
        width: 210px;
    }

    .MenuLinkText div {
        display: flex;
        gap: 45px;
    }

    .MenuLinkText div strong,
    .MenuLinkText div span {
        width: 50%;
    }
}

@media screen and (max-width: 991px) {
    .MenuLink {
        align-items: center;
    }

    .MenuLink img {
        display: none;
    }
    
    .MenuLinkText div {
        flex-direction: column;
    }
}