.TimelineFeed {
    display: flex;
    flex-direction: column;
}

.TimelineFeed h2 {
    font-weight: var(--font-weight-700);
    margin-bottom: 16px;
}

.TimelineFeedItem {
    display: flex;
    padding: 20px 0;
    position: relative;
}

.TimelineFeedItem:last-child {
    padding-bottom: 0;
}

.TimelineFeedItem::before {
    border-radius: 2px;
    background: linear-gradient(90deg, #92D5BD 0%, #6D8FFF 100%);
    content: '';
    display: block;
    position: absolute;
    top: 0;
    height: 1px;
    width: 100%;
}

.TimelineFeedItem h5 {
    margin-bottom: 10px;
}

.TimelineFeedItem div:first-child {
    width: 100%;
    max-width: 70%;
}

.TimelineFeedItem > div + div {
    padding-left: 5px;
    max-width: 30%;
    width: 100%;
}

.TimelineItemDate {
    color: var(--color-blue);
}

.TimelineItemDate i {
    margin-right: 5px;
}

@media screen and (min-width: 992px) {
    .TimelineFeed {
        flex-direction: row;
        gap: 10%;
    }
}

@media screen and (min-width: 768px) {
    .TimelineItemDate i {
        margin-right: 8px;
    }

    .TimelineFeedItem h5 {
        margin-bottom: 16px;
    }

    .TimelineFeedItem > div + div {
        padding-left: 40px;
    }
}

@media screen and (max-width: 767px) {
    .TimelineItemDate i {
        height: 8px;
        width: 8px;
    }

    .TimelineFeedItem p {
        margin-bottom: 0;
        font-size: var(--font-size-12);
        line-height: var(--line-height-16);
    }

    .TimelineItemDate {
        font-size: var(--font-size-12)
    }
}
